@charset "utf-8";

html, body {
  position:relative;
  width:100%; height:100%;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none;
}

#app {position:relative; width:100%; height:100%;}
.wrapper {position:relative; width:100%; height:100%;}
.quantico {font-family:'Quantico'; font-weight:400;}
.quantico-bold {font-family:'Quantico'; font-weight:700;}
.rajdhani {font-family:'Rajdhani';}

/* main header */
.main_header {position:absolute; top:0; left:0; width:100%; margin-top:60px; z-index:10;}
.main_header h1 {position:absolute; top:0; left:0; padding-left:60px;}
.main_header h1 img {vertical-align:top;}
.main_header h1 img.mobile {display:none;}
.main_header .gnb_menu {position:absolute; top:0; right:0; padding-right:60px;}
.main_header .gnb_menu img.mobile {display:none;}
/* sub header */
.sub_header {position:fixed; width:100%;height:40px; padding:60px 0 40px; background-color:#fff; z-index:1;}
.sub_header h1 {position:absolute; top:60px; left:60px;}
.sub_header h1 img {vertical-align:top;}
.sub_header h1 img.mobile {display:none;}
.sub_header .gnb_menu {position:absolute; top:60px; right:60px; z-index:10;}
.sub_header .gnb_menu img.mobile {display:none;}
.sub_header .btn_w-list {position:absolute; top:60px; right:112px; z-index:10;}
.sub_header .btn_w-list img.mobile {display:none;}
.sub_main .sub_header {background:none;}

/* contents */
#contentWrap {position:relative; width:100%; overflow:hidden;}
.section-work-list, .section-work, .section-about, .section-contact {padding-top:140px;}
.box-wrap {width:calc(100% -60px);}
.title01 {
  width:140px; height:42px; line-height:42px;
  color:#fff; font-size:1.188em; font-family:'Quantico'; font-weight: 400; text-align:center; letter-spacing:0.1em;
  background-color:#00a1e9; margin:0 auto;
}
.fc-blue {color:#00a1e9;}

/* footer */
footer {position:absolute; left:0; bottom:60px; width:100%; z-index:10;}
footer address {color:#fff; font-size:14px; font-family:'Rajdhani'; font-weight:500; font-style:normal; line-height:1.4; padding-left:60px;}
footer p {color:#fff; font-size:13px; letter-spacing:-0.025em; padding-left:60px; margin-top:10px;}
footer .copyright {position:absolute; right:95px; bottom:0; font-family:'Rajdhani'; font-size:14px; font-style:normal; line-height:1; padding-left::0;  margin-top:0;}
footer .arrow {position:absolute; right:60px; bottom:0;}
footer .arrow li {width:16px; height:9px; margin-top:25px;}
footer .arrow li a {display:block; width:16px; height:9px;}
footer .arrow li a img {width:16px; height:9px; vertical-align:top;}
footer .arrow li a img.mobile {display:none;}
.sub_footer {position:absolute; left:0; bottom:60px; width:100%;}
.sub_footer address {color:#fff; font-size:14px; font-family:'Rajdhani'; font-weight:500; font-style:normal; line-height:1.4; padding-left:60px;}
.sub_footer p {color:#fff; font-size:13px; letter-spacing:-0.025em; padding-left:60px; margin-top:10px;}

/* tablet */
@media all and (max-width:1024px) {
  .main_header {margin-top:40px;}
  .main_header h1 {padding-left:40px;}
  .main_header .gnb_menu {padding-right:40px;}
  .sub_header {padding:40px 0 28px;}
  .sub_header h1 {top:40px; left:40px;}
  .sub_header .gnb_menu {top:40px; right:40px;}
  .sub_header .btn_w-list {top:40px; right:92px;}
  .section-work-list, .section-work, .section-about, .section-contact {padding-top:108px;}
  footer {bottom:40px;}
  footer address {padding-left:40px;}
  footer p {padding-left:40px;}
  footer .arrow {right:40px;}
  footer .copyright {right:75px;}
  .sub_footer {bottom:40px;}
  .sub_footer address {padding-left:40px;}
  .sub_footer p {padding-left:40px;}
}

/* mobile */
@media all and (max-width:767px) {
  .main_header {margin-top:2rem;}
  .main_header h1 {padding-left:4%;}
  .main_header h1 img, .sub_header h1 img {display:none;}
  .main_header h1 img.mobile, .sub_header h1 img.mobile {display:block;}
  .main_header .gnb_menu {padding-right:4%;}
  .main_header .gnb_menu img, .sub_header .gnb_menu img {display:none;}
  .main_header .gnb_menu img.mobile, .sub_header .gnb_menu img.mobile {display:block;}
  .sub_header {height:30px; padding-top:2rem;}
  .sub_header h1 {top:2rem; left:4%;}
  .sub_header .gnb_menu {top:2rem; right:4%;}
  .sub_header .btn_w-list {top:2rem; right:4%; margin-right:37px;}
  .sub_header .btn_w-list img {display:none;}
  .sub_header .btn_w-list img.mobile {display:block;}
  .section-work-list, .section-work, .section-about, .section-contact {padding-top:90px;}
  footer {bottom:1.6rem;}
  footer address {font-size:13px; padding-left:4%; line-height:1.2;}
  footer p {font-size:12px; padding-left:4%; margin-top:6px;}
  footer .copyright {display:none;}
  /*footer .arrow li a img {display:none;}
  footer .arrow li a img.mobile {display:block;}*/
  .sub_footer {bottom:1.6rem;}
  .sub_footer address {font-size:13px; padding-left:4%; line-height:1.2;}
  .sub_footer p {font-size:12px; padding-left:4%; margin-top:6px;}
  footer .arrow {right:4%;}
}
