.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:pointer; outline:none}
.ddcommon ul{padding:0;margin:0;max-height:200px;overflow:auto}
.ddcommon ul li{list-style-type:none;}
.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:101%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd:nth-child(3n+1){margin-right:0}
.dd{width:100px !important; height:28px; margin: 0 35px 0 0; background-color:#fff; border:1px solid #e9eef3;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle .ddTitleText{
  height:30px; line-height:30px; color:#00a1e9; font-size:13px; font-family:'Rajdhani'; font-weight:700;
  padding-left:10px; background:url(../images/btn_select.png) 90% 50% no-repeat;
}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding:0 10px 3px 10px}
.dd .ddChild{width: calc(100% + 2px);border:1px solid #f2f2f2; background-color:#fff; left:-1px; z-index:999999}
.dd .ddChild li{color:#00a1e9; font-size:13px; font-family:'Rajdhani'; font-weight:700; background-color:#fff; padding:7px 0 8px 10px; border-bottom:1px solid #f2f2f2;}
.dd .ddChild li .description{color:#00a1e9;}
.dd .ddChild li .ddlabel{color:#00a1e9;}
.dd .ddChild li.selected .ddlabel{color:#00a1e9;}
.dd .ddChild li img{padding:0 10px 2px 1px;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#fff;}

.edit_cart_pop .dd:nth-child(3n+1){margin-right:0}
.edit_cart_pop .dd{display: table-cell;height:61px; float: none;  margin: 0 24px 32px 0; background-color:#e6e6e6}
.edit_cart_pop .dd .ddArrow:hover{background-position:0 100%;}
.edit_cart_pop .dd .ddTitle .ddTitleText{height: 61px;padding-left:24px; line-height:61px; color:#8d8d8d; font-size:30px; font-family: 'Noto Sans KR', sans-serif; background:#e6e6e6 url("../img/btn_select_pink.png") 100% 50% no-repeat;background-size:61px;}
.edit_cart_pop .dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.edit_cart_pop .dd .ddTitle .description{font-size:12px; color:#666}
.edit_cart_pop .dd .ddTitle .ddTitleText img{padding:0 10px 3px 10px}
.edit_cart_pop .dd .ddChild{width: calc(100% + 2px);border:1px solid #f2f2f2; background-color:#fff; left:-1px; z-index:999999}
.edit_cart_pop .dd .ddChild li{display: block;padding:10px 0 8px 24px; background-color:#fff; border-bottom:1px solid #f2f2f2;font-size:30px; font-family: 'Noto Sans KR', sans-serif;}
.edit_cart_pop .dd .ddChild li .description{color:#fbc2bb;}
.edit_cart_pop .dd .ddChild li .ddlabel{color:#fbc2bb;}
.edit_cart_pop .dd .ddChild li.selected .ddlabel{color:#fff}
.edit_cart_pop .dd .ddChild li img{padding:0 10px 2px 1px;}
.edit_cart_pop .dd .ddChild li.optgroup{padding:0;}
.edit_cart_pop .dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.edit_cart_pop .dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.edit_cart_pop .dd .ddChild li.selected{background-color:#fbc2bb;}
