@charset "utf-8";

@import url("base.css");
@import url("layout.css");


/**
* pc css
* index
*/
.header {position:relative; width:95%; height:20%; margin:0 auto; z-index:2; /* border: 1px solid #FFF; */ }
.header .hollow {width:100%; height:20px;}
.header .fl {float:left; }
.header .fr {float:right; }

.header .fr ul {padding-top:5px;}
.header .fr ul li {display:inline; padding-left:8px; }
.header .fr ul li img {vertical-align:middle; border:0px;}
.header .fr ul li:nth-child(3) {padding-left:37px; }

.contents {width:100%; height:60%;}
.contents article {width:95%; height:100%; margin:0 auto; }
.contents article .name_area {width:100%; height:100%; position:relative; text-align:center; /* border:1px solid #F0F; */ }
.contents article .name_area .main {width:100%; height:240px; position:absolute; top:50%; margin-top:-120px; }
.contents article .name_area .main_barcode {float:left; width:50%; height:100%; margin:0 auto; position:relative; /* border:1px solid red; */}
.contents article .name_area .main_barcode img {max-width:100%; max-height:100%; bottom:0px; right:20px; position:absolute; }
.contents article .name_area .main_title {display: none; float:right; width:48%; height:100%; margin:0 auto; text-align:left; position:relative; /*  border:1px solid red; */}
.contents article .name_area .main_title.on {display: block;}
.contents article .name_area .main_title .text {float:left; height:100%; }
.contents article .name_area .main_title .detail {height:100%; display:inline-block; }
.contents article .name_area .main_title .year {font-family: NanumSquare; color:#FFFFFF; font-size:14px; text-decoration: underline; margin:0 auto;}
.contents article .name_area .main_title .project_name_eng {font-family: KlavikaBold; color:#FFFFFF; font-size:60px; margin:0 auto;/*  border:1px solid red; */}
.contents article .name_area .main_title .project_name_kor {font-family: NanumSquare; color:#FFFFFF; font-size:20px; margin:0 auto;/*  border:1px solid red; */}



.contents article .bg {position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; overflow:hidden;}
.contents article .bg li {position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;}
.contents article .bg li img {position:absolute; top:0; left:0; width:100%; height:100%;}

.footer {width:95%; height:20%; margin:0 auto; position:relative; }
.footer .text {width:100%; bottom:40px; position:absolute;}
.footer .text .fl {float:left; bottom:0px; width:50%; height:100%; }
.footer .text .fr {float:right; bottom:0px; width:50%; height:100%; }
.footer .text .fr span {float:right;}
.footer .text ul li {padding-top:11px;}
.footer .text ul li:nth-child(4) {padding-top:25px;}
.footer .text .copyright {text-align:right;}
.footer .text .copyright span {padding-left:45px;}
.footer .text ul {padding-left:0px;}
.footer .text ul li {list-style:none; font-family: Armata; color:#FFFFFF; font-size:11px;}
.footer .text .address ul li:nth-child(4) {font-family: NanumSquare; color:#FFFFFF; font-size:12px;}



.on {display:block;}

/**
* about
*/
.wrapper-about .header {position:relative; width:95%; height:10%; margin:0 auto; z-index:2; /* border: 1px solid #FFF; */ }
.wrapper-about .header .hollow {width:100%; height:20px;}
.wrapper-about .header .fl {float:left; }
.wrapper-about .header .fr {float:right; }

.wrapper-about .header .fr ul {padding-top:5px;}
.wrapper-about .header .fr ul li {display:inline; padding-left:8px; }
.wrapper-about .header .fr ul li img {vertical-align:middle; border:0px;}
.wrapper-about .header .fr ul li:nth-child(3) {padding-left:37px; }

.wrapper-about {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	background: #f8f9f9;
}

.wrapper-about .contents {width:100%; height:60%;}
.wrapper-about .contents article {width:95%; height:100%; margin:0 auto; }

.wrapper-about .contents article p.title {
	line-height: 0.8;
	font-size: 4rem;
	text-align: center;
	color: #00a1e8;
	font-family: KlavikaLight;
}

.wrapper-about .contents article p.summary {
	/* line-height: 0.8; */
	font-size: 2rem;
	text-align: center;
	color: #1d1d1d;
	font-family: NotoSansCJKkr-Light;
}

.wrapper-about .contents [class*="col-"], [class*="mcol-"] {
	padding: 30px 0px 20px 0px;
}

.wrapper-about .contents article p.detail {
	line-height: 1;
	font-size: 1.2rem;
	text-align: center;
	color: #4d4d4f;
	font-style: normal;
	font-family: NotoSansCJKkr-Light;
}

.wrapper-about .contents article div.about {
	text-align: center;
}

.wrapper-about .contents article div.about-detail {
	margin-top:25px;
	text-align: center;
}


/**
* work
*/
.wrapper-work .header {position:relative; width:95%; margin:0 auto; z-index: 2; /* border: 1px solid #FFF; */ }
.wrapper-work .header .hollow {width:100%;}
.wrapper-work .header .fl {float:left; }
.wrapper-work .header .fr {float:right; }

.wrapper-work .header .fr ul {padding-top:5px; padding-right:100px;}
.wrapper-work .header .fr ul li {display:inline; }
.wrapper-work .header .fr ul li img {vertical-align:middle; border:0px;}
/* .header .fr ul li:nth-child(3) {padding-left:37px; } */

.wrapper-work .gallery-content:hover .overlay.right {
    top: 0;
}

#gallery-layout .gallery-content .content .order {
	font-size: 8pt;
	color: #00a1e9;
	font-family: NanumSquareB
}


#gallery-layout {
    width: 100%;
    margin: 0 auto;
}

#gallery-layout:after {
    content: "";
    display: block;
    clear: both;
}

.gallery-content {
    position: relative;
    float: left;
    width: 25%;
    overflow: hidden;
}

.gallery-content .gallery-img img {
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;
}

.wrapper-work .content {
	width: 85%;
	padding-top: 15px;
    z-index: 1;
    display: block;
    color: #777777;
    position: absolute;
    top: 70%;
    left: 10%;
    /* -webkit-transform: translate(-70%, -20%);
    transform: translate(-70%, -20%); */
}

.wrapper-work .content .title {
	width: 100%;
	height: 100%;
}

.wrapper-work .content .title p:nth-child(1) {
	float: left;
	font-size: 11pt;
	font-family: NanumSquare;
	margin: 0px;
}

.wrapper-work .content .title p:nth-child(1) a {
	color: #777777;
	text-decoration: none;
}

.wrapper-work .content .title p:nth-child(2) {
	float: right;
	margin: 0px;
}




.wrapper-work .content h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    /* text-align: center; */
}

.wrapper-work .content p {
    padding: 2px 0;
    font-size: 0.8em;
    /* text-align: center; */
}

.wrapper-work .gallery-content:hover .content {
    display: block;
    -webkit-transition: all 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;
}

/* .wrapper-work .gallery-content:hover .content p {
	color: #FFF;
} */

.wrapper-work .gallery-content:hover .content p:nth-child(1) a {
	color: #FFF;
}

.wrapper-work .gallery-content:hover .gallery-img img {
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 1s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 1s ease-in-out;
}

.wrapper-work .gallery-content .contents .go-detail {
	fo;
}

.wrapper-work .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;; /* For Safari 3.1 to 6.0 */
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

/* overlay color */
.wrapper-work .overlay.gray {
    background-color: rgba(0, 0, 0, 0.5);
}

.wrapper-work .gallery-content:hover .overlay {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#gallery-layout {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(-0, -0);
    transform: translate(-0, -0);
}

/**
* contact
*/
.wrapper-contact .header {position:relative; width:95%; height:10%; margin:0 auto; z-index:2; /* border: 1px solid #FFF; */ }
.wrapper-contact .header .hollow {width:100%; height:20px;}
.wrapper-contact .header .fl {float:left; }
.wrapper-contact .header .fr {float:right; }

.wrapper-contact .header .fr ul {padding-top:5px;}
.wrapper-contact .header .fr ul li {display:inline; padding-left:8px; }
.wrapper-contact .header .fr ul li img {vertical-align:middle; border:0px;}
.wrapper-contact .header .fr ul li:nth-child(3) {padding-left:37px; }

.wrapper-contact .contents {width:100%; height:60%;}
.wrapper-contact .contents article {width:95%; height:100%; margin:0 auto; }

.wrapper-contact {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	background: #f8f9f9;
}

.wrapper-contact .contents article p {
	margin-bottom: 0px;
	line-height: 0.8;
	font-size: 50pt;
	text-align: center;
	color: #00a1e8;
	font-family: KlavikaLight;
}


.wrapper-contact .contents [class*="col-"], [class*="mcol-"] {
	padding: 30px 0px 20px 0px;
}

.wrapper-contact .contents article table {
	width: 860px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper-contact .contents article .map {
	width: 100%;
	height: 70%;
	max-height: auto;
	height: 100%;
	margin-top: 75px;
	/* background-color: green; */
}

.wrapper-contact .contents article .ceo, .wrapper-contact .contents article .address, .wrapper-contact .contents article .contactus {

}

.wrapper-contact .contents article .title {
	line-height: 3;
	text-align: left;
	font-size: 1.6rem;
	color: #00a1e8;
	font-family: KlavikaRegular;
}

.wrapper-contact .contents article .content {
	font-size: 1.4rem;
	font-weight: bold;
	text-align: left;
	color: #000000;
	font-family: NotoSansCJKkr-Regular;
}

/**
* work_detail
*/
.wrapper-work-detail .header {position:relative; width:95%; height:20%; margin:0 auto; z-index:2; /* border: 1px solid #FFF; */ }
.wrapper-work-detail .header .hollow {width:100%; height:20px;}
.wrapper-work-detail .header .fl {float:left; }
.wrapper-work-detail .header .fr {float:right; }

.wrapper-work-detail .header .fr ul {padding-top:5px;}
.wrapper-work-detail .header .fr ul li {display:inline; padding-left:8px; }
.wrapper-work-detail .header .fr ul li img {vertical-align:middle; border:0px;}
.wrapper-work-detail .header .fr ul li:nth-child(3) {padding-left:37px; }

.wrapper-work-detail .contents {width:100%; height:80%;}
.wrapper-work-detail .contents article {width:95%; height:100%; margin:0 auto; }

.wrapper-work-detail .contents article .bg {position:absolute; top:0; left:0; z-index:-1; width:100%; height:100%; overflow:hidden;}
.wrapper-work-detail .contents article .bg li {position:absolute; top:0; left:0; width:100%; height:100%; text-align:center;}
.wrapper-work-detail .contents article .bg li img {position:absolute; top:0; left:0; width:100%; height:100%;}


.wrapper-work-detail .contents article .bottom-layer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: calc(100% - 40px);
	height: calc(250px - 40px);
	margin: 0 20px;
	background-color: #000;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
}

.wrapper-work-detail .contents article .bottom-layer-contents {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: calc(100% - 40px);
	height: calc(250px - 40px);
	margin: 0 20px;
}

.wrapper-work-detail .bottom-layer-contents .title {
	float: left;
	color: #FFF;
	padding: 10px 0;
	font-size: 1rem;
	font-family: KlavikaRegular;
}

.wrapper-work-detail .bottom-layer-contents .more {
	float: right;
	padding-right: 20px;
	padding-top: 10px;
}

.wrapper-work-detail .bottom-layer-contents .content {
	clear: both;
	color: #FFF;
	padding-top: 25px;
	font-size: 1.1rem;
	font-family: NanumSquare;
}

.wrapper-work-detail .bottom-layer-contents .content-kor {
	clear: both;
	color: #FFF;
	padding: 5px 0;
	font-size: 1.7rem;
	font-family: NanumSquare;
}

.wrapper-work-detail .bottom-layer-contents .content-eng {
	color: #FFF;
	padding: 5px 0;
	font-size: 1.2rem;
	font-family: KlavikaRegular;
}

.wrapper-work-detail .bottom-layer-contents hr {
	display: inline-block;
	border: 0px;
	width: 16px;
	height: 1px;
	margin-left: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
	background-color: #00a1e9;
}

.wrapper-work-detail .more-portfolio {
	display: none;
	width: 100%;
	/* border: 1px solid blue; */
}

.wrapper-work-detail .contents article .bottom-layer-contents * {
    box-sizing: border-box;
}

.wrapper-work-detail .more-portfolio {
	width: 100%;
	min-height: auto;
    background-color: #1d1d1d;
}

.wrapper-work-detail .more-portfolio * {
    box-sizing: border-box;
}

.wrapper-work-detail .text-info {
	width: 100%;
}

.wrapper-work-detail .text-info p {
	padding: 20px;
}

.wrapper-work-detail .text-info .detail-text {
	color: #a4a4a4;
	font-size: 12pt;
	font-family: NotoSansCJKkr-Light;
}

.wrapper-work-detail .text-info .address {
	padding-top: 50px;
	text-align: center;
}

.wrapper-work-detail .text-info .address select {
	background-color: #FFF;
}

.wrapper-work-detail .text-info .info {
	padding : 100px 0px;
}

.wrapper-work-detail .text-info .line {
	display: inline-block;
	border: 0px;
	width: 1px;
	height: 40px;
	background-color: #343434;
	vertical-align: bottom;
}

.wrapper-work-detail .text-info .producer {
	padding-left: 20px;
	padding-bottom: 60px;
}

.wrapper-work-detail .text-info div.text {
	display:inline-block;
	width: 90%;
	padding-left: 30px;
}

.wrapper-work-detail .text-info div.title {
	width: 90%;
	height:100%;
	color: #00a1e9;
	font-size: 12pt;
	font-family: Noto Sans KR;
}

.wrapper-work-detail .text-info div.content {
	width: 90%;
	height: 100%;
	color: #FFF;
	font-size: 12pt;
	font-family: NotoSansCJKkr-Light;
}

.wrapper-work-detail .more-portfolio .cloud-gnb {
	position: relative;
	width: 100%;
	height: 57px;
	border: 1px;
	border-style: solid;
	border-top-color: #373737;
	background-color: #1d1d1d;
}

.wrapper-work-detail .cloud-gnb {
	width: 100%;
	height: 55px;
	background-color: #1d1d1d;
}

.wrapper-work-detail .colud-gnb .col-6, .cloud-gnb .mcol-6 {
	/* padding: 13px 35px; */
	padding: 0px;
	height: 100%;
}

.wrapper-work-detail .cloud-gnb ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: right;
}

.wrapper-work-detail .cloud-gnb ul li {
	display: inline;
}

.wrapper-work-detail .cloud-gnb .logo {
	padding-left: 20px;
}


/* .portfolio .col-12, .portfolio .mcol-12 {
	width: 100%;
	height: 100%;
} */

.wrapper-work-detail .portfolio [class*="col-"], .portfolio [class*="mcol-"] {
	padding: 0px;
}

.wrapper-work-detail .portfolio .pf-main {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 70px 30px 0px 30px;
	background-color: #ededed;
}

.wrapper-work-detail .portfolio .pf-sub {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 70px 30px 0px 30px;
	background-color: #ededed;
}

.wrapper-work-detail .portfolio .pf-icon {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 70px 30px;
	background-color: #FFF;
}

.wrapper-work-detail .portfolio .pf-mobile {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 70px 30px;
	background-color: #00a1e9;
}

.wrapper-work-detail .pf-main img, .pf-sub img {
	max-width: 100%;
	width: auto;
	height: auto;
	-webkit-box-shadow: 3px 3px 10px #7C7C7C;
    box-shadow: 3px 3px 10px #7C7C7C;
}

.wrapper-work-detail .pf-icon img, .pf-mobile img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.wrapper-work-detail .portfolio .bg-margin {
	width: 100%;
	height: 70px;
	background-color: #ededed;
}

.wrapper-work-detail .portfolio .prev, .portfolio .next {
	background-color: #000;
}


.wrapper-work-detail .portfolio .prev, .portfolio .next {
	position: relative;
	width: 100%;
	background-color:
}

.wrapper-work-detail .portfolio .prev .thumb img {
	width: 100%;
	max-height: auto;
}

.wrapper-work-detail .portfolio .prev .content {
	position: absolute;
	top: 23%;
	left: 0px;
	width: 100%;
}

.wrapper-work-detail .portfolio .prev .btn {
	width: 30%;
	float: left;
	text-align: center;
	padding-top: 10%;
}

.wrapper-work-detail .portfolio .prev .text {
	width: 70%;
	float: right;
	text-align: right;
	padding-right: 100px;
}

.wrapper-work-detail .portfolio .next .thumb img {
	width: 100%;
	max-height: auto;
}

.wrapper-work-detail .portfolio .next .content {
	position: absolute;
	top: 23%;
	left: 0px;
	width: 100%;
}

.wrapper-work-detail .portfolio .next .btn {
	width: 30%;
	float: right;
	text-align: center;
	padding-top: 10%;
}

.wrapper-work-detail .portfolio .next .text {
	width: 70%;
	float: left;
	text-align: left;
	padding-left: 100px;
}


.wrapper-work-detail .portfolio .title-kor {
	font-size: 1.6rem;
	color: #FFF;
	font-family: NanumSquare;
}

.wrapper-work-detail .portfolio .title-eng {
	font-size: 1.4rem;
	color: #FFF;
	font-family: KlavikaLight;
}

.wrapper-work-detail .portfolio .client {
	font-size: 1rem;
	color: #FFF;
	font-family: KlavikaLight;
}
